<main class="container">

<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #532e2e;
  padding: 10px;
}


.team-image {
  display: inline-block; /* Display images inline */
  max-width: calc(100% / 3.04); /* Set maximum width to one-third of the container width */
  vertical-align: top; /* Align images at the top */
}

</style>



<div class="center">
  <div class="text-align">
  <div class="col">
      <h1 style="text-align: center;">Bienvenido a crear un grupo o a editar uno creado por ti previamente</h1>
    </div>
  </div>
  </div>
</main>