<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inicio.css"> <!-- Asumiendo que este enlace se mantiene para otros estilos -->
</head>
<body>
    <div class="ibackground-image"></div> <!-- Este div contendrá la imagen de fondo -->
    <div class="contact_navbar">
        <p>Contacto:</p>
        <a href="mailto:camila.becerra@uc.cl">camila.becerra@uc.cl</a>
        <a href="mailto:francisco.fontecilla@uc.cl">francisco.fontecilla@uc.cl</a>
        <a href="mailto:catalina.infante@uc.cl">catalina.infante@uc.cl</a>
    </div>
    <section class="main-section">
        <div class="content">
            <h1 class="title">Groups & Groups</h1>
            <p>Groups & Groups es una plataforma dedicada a conectar personas a través de intereses comunes. Aquí puedes explorar una amplia variedad de grupos, desde deportes y hobbies hasta actividades culturales y más. Únete a grupos existentes para conocer personas con pasiones similares, o crea tu propio grupo para reunir a otros con tus mismos intereses. Además de interactuar y compartir experiencias con miembros de la comunidad, podrás participar en conversaciones, eventos y actividades exclusivas organizadas por los grupos.</p>
            <j>¡DESCUBRE TODO LO QUE NUESTRA COMUNIDAD TIENE PARA OFRECER Y ÚNETE HOY MISMO PARA EMPEZAR A CONECTAR Y EXPLORAR!</j>
            <br>
            <!-- Aquí irían tus botones o links generados por link_to -->
            <a href="<%= new_user_session_path %>" class="i_button">INICIAR SESIÓN</a>
            <a href="<%= new_user_registration_path %>" class="i_button">REGISTRARSE</a>
        </div>
    </section>
</body>
</html>
